<%- include("../templates/encabezado") %>
<%- include("../templates/menu") %>
<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h1>Productos</h1>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Foto</th>
                        <th>Editar/Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    products.forEach((producto,i)=>{
                    %>
                        <tr>
                            <td><%- (i+1)*10 %></td>
                            <td><%- producto.nombre %></td>
                            <td><%- producto.precio %></td>
                            <td><%- producto.cantidad %></td>
                            <td><img src="/images/<%- producto.foto %>" width="60px"></td>
                            <td>
                                <a href="/editarProducto/<%- producto.id %>">Editar</a>
                                <a href="/borrarProducto/<%- producto.id %>">Borrar</a>
                            </td>
                        </tr>
                    <%
                    }); 
                    %>
                </tbody>
            </table>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
<%- include("../templates/pie") %>